*{
    padding: 0px;
    margin: 0px;
}
.fondo{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    
}
.game{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.orange_left{
    position: relative;
    left: -190px;
    visibility: hidden;
}
.orange_right{
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    position: relative;
    left: -193px;
    visibility: hidden;
}
.blue_left{
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    position: relative;
    left: -380px;
    visibility: hidden;
}
.blue_right{
    position: relative;
    left: -386px;
    visibility: hidden;
}
.hit_circle{
    position: relative;
    top: -30px;
    left: -370px;
    opacity: 0.1;
    transform: scale(1.3,1.3);
}
.overlay{
    position: relative;
    top: -30px;
    left: -500px;
    opacity: 0.3;
    transform: scale(1.3,1.3);
    
}
.drum{
    position: fixed;
    
}
.drums{
    position: relative;
    top: 0px;
    opacity: 0.4;
    
}

.bar{
    width: 100vw;
    height: 203px;
    opacity: 0.9;
    z-index: -1;
}
.canvas{
    border: 2px solid greenyellow;
    position: absolute;
    top: 7px;
    left: 180px;
}

/* modal container */
.modal-container{
    display: flex;
    background-color: rgba(0,0,0,0.45);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal{
    background-color: rgb(241, 240, 240);
    border-radius: 20px;
    display: grid;
    padding: 25px;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.reglas{
    color: hsl(229, 25%, 31%);
    font-size: 20px;
    font-weight: 600;
}
.close{
    border: none;
    cursor: pointer;
}

.show{
    pointer-events: auto;
    opacity: 1;
}



