.nav-end{
    display: flex;
    justify-content: space-between;
}
.flexbox-end{
    display: flex;
    margin-top: 10px;
}
.letras_score{
    font-size: 19px;
}
.numeros-final{
    color: aliceblue;
}
.score-final{
    grid-area: score;
    color: rgb(255, 253, 145);
    text-shadow: 0 0 12px rgb(255, 253, 145);
}
.perfect{
    grid-area: perfect;
    color: rgb(129, 225, 166);
    text-shadow: 0 0 12px rgb(129, 225, 166);
}
.ok{
    grid-area: ok;
    color: rgb(123, 172, 245);
    text-shadow: 0 0 12px rgb(123, 172, 245);
}
.bad{
    grid-area: bad;
    color: plum;
    text-shadow: 0 0 12px plum;
}
.combo-final{
    grid-area: combo;
    color: rgb(254, 82, 82);
    text-shadow: 0 0 12px rgb(254, 82, 82);
}
.scores{
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
    grid-template-areas: 
    "score ."
    "perfect combo"
    "ok bad";
    column-gap: 1vw;
    row-gap: 1vw;
}
.results{
    color:rgb(239, 131, 43);
    font-size: 27px;
}
.name_song-end{
    color: aliceblue;
    font-size: 27px;
}
.close{
    width: 27px;
}
.b-close{
    background-color: unset;
    border: none;
    cursor: pointer;
}
